.selected-article-page {
  display: flex;
  align-items: center;
  height: 85vh;
}

.selected-article-cont {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;

}

.selected-article-details {
  background-color: white;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* height: 80%; */
  width: 50%;
}

.selected-article-image {
  width: 30%;
}

h2 {
  font-size: 1.75rem;
}