.header {
  margin: auto;
  background-color: grey;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 56px;
  font-family: 'Times New Roman', Times, serif;
}